* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  color: rgb(19, 65, 70);
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(19, 65, 70);

}

.icon {
  font-size: 100px;
  margin: 45px;
}

.iconlist ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iconlist ul li{
  /* width: 30%; */
  /* margin: 0 auto; */
  padding: 5px;
  display: inline-block;
  text-align: center;
}

section {
  padding-bottom: 100px;
  margin: 50px;
}

a {
  text-decoration: none;
  color: rgb(19, 65, 70);
}

header {
  padding: 300px 0 50px 0;
  /* background: radial-gradient(#000, #dcdcdc); */
  /* background-color: rgb(240,240,240); */
  background: radial-gradient(#dcdcdc, #999);
  background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
}

.arrow {
  text-align: center;
  margin: 350px auto 0 auto;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

header h1.header {
  font-size: 50px;
  padding-bottom: 30px;
}

section h3 {
  color: rgb(19, 65, 70);
  font-size: 40px;
  text-align: center;
  padding: 50px;
}

section h3::before,
section h3::after {
  content: "\2022" ;
}

section img {
  display: block;
  margin: 40px auto;
}

section p {
  text-align: justify;
  text-justify: center;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 30px;
  background: radial-gradient(#dcdcdc, #999);
  background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
}

.footer {
  padding: 120px 0;
}

.footer p {
  padding: 0 80px;
}

section img {
  float: right;
  margin: 0 10px 20px 10px;
}

p {
  padding: 20px 10px;
}

h4 {
  padding: 30px 10px;
  font-size: 20px;
}

h5 {
  padding: 30px 10px;
  font-size: 18px;
}

.half p,
.half img {
  width: 45%;
  padding-top: 0;
  margin-bottom: 100px;
}

.mobile img {
  width: 25%;
  padding-top: 0;
  margin-right: 15%;
}

.half::after {
  content: "";
  display: block;
  clear: both;

}

@media screen and (max-width: 800px) {
  .half img,
  .half p {
    float: none;
    width: 80%;
    margin: 20px auto 40px auto;
  }

  .mobile img {
    width: 50%;
  }

  .half {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header h1.header {
    font-size: 40px;
    padding-bottom: 20px;
  }

  header h2.header {
    font-size: 30px;
    padding: 0 5px;
  }

  section h3 {
    font-size: 25px;
    padding: 20px;
  }

  header {
    padding: 50px 20px 80px 20px;
  }

  section {
    margin: 20px;
    font-size: 14px;
  }

  section div {
    margin-bottom: 30px;
  }
}
